<%= form_with(model: @topping, local: true) do |f| %>
  <% if @topping.errors.any? %>
    <div class="bg-red-100 text-red-600 p-3 rounded mb-4">
      <ul class="list-disc list-inside">
        <% @topping.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :name, class: "block font-semibold mb-1" %>
    <%= f.text_field :name, class: "border rounded w-full p-2" %>
  </div>

  <div class="flex space-x-3 mt-4">
    <%= f.submit (@topping.new_record? ? "Create Topping" : "Update Topping"),
          class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded" %>

    <%= link_to "Back", toppings_path,
          class: "bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded" %>
  </div>
<% end %>
